# Application configuration

CONFIG_DISPLAY_AUTO_OFF_MS=20000
CONFIG_DISPLAY_DOUBLE_FB=y

CONFIG_MQTT_PROTOCOL_5=y

CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144

# IT8951

CONFIG_IT8951_CS_PIN=10
CONFIG_IT8951_DISPLAY_READY_PIN=8
CONFIG_IT8951_MISO_PIN=13
CONFIG_IT8951_MOSI_PIN=11
CONFIG_IT8951_RESET_PIN=9
CONFIG_IT8951_SCLK_PIN=12
CONFIG_IT8951_SPI_BUS_SPEED_DIVIDER=7
CONFIG_IT8951_SPI_HOST=2

# LVGL

CONFIG_LV_ASSERT_HANDLER_INCLUDE="../../../../main/lvgl_assert.h"
CONFIG_LV_COLOR_DEPTH_1=y
CONFIG_LV_COLOR_DEPTH=1
CONFIG_LV_CONF_MINIMAL=y
CONFIG_LV_DPI_DEF=220
CONFIG_LV_FONT_DEFAULT_MONTSERRAT_8=y
CONFIG_LV_FONT_MONTSERRAT_8=y
CONFIG_LV_LOG_LEVEL_WARN=y
CONFIG_LV_LOG_LEVEL=2
CONFIG_LV_LOG_PRINTF=y
CONFIG_LV_LOG_TRACE_ANIM=y
CONFIG_LV_LOG_TRACE_CACHE=y
CONFIG_LV_LOG_TRACE_DISP_REFR=y
CONFIG_LV_LOG_TRACE_EVENT=y
CONFIG_LV_LOG_TRACE_INDEV=y
CONFIG_LV_LOG_TRACE_LAYOUT=y
CONFIG_LV_LOG_TRACE_MEM=y
CONFIG_LV_LOG_TRACE_OBJ_CREATE=y
CONFIG_LV_LOG_TRACE_TIMER=y
CONFIG_LV_LOG_USE_FILE_LINE=y
CONFIG_LV_LOG_USE_TIMESTAMP=y
CONFIG_LV_THEME_DEFAULT_TRANSITION_TIME=0
CONFIG_LV_TXT_BREAK_CHARS=" "
CONFIG_LV_USE_ASSERT_STYLE=y
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_USE_CLIB_SPRINTF=y
CONFIG_LV_USE_CLIB_STRING=y
CONFIG_LV_USE_LOG=y
CONFIG_LV_USE_TINY_TTF=y
CONFIG_LV_THEME_DEFAULT_TRANSITION_TIME=0
CONFIG_LV_TXT_ENC_UTF8=y
CONFIG_LV_USE_ASSERT_MALLOC=y
CONFIG_LV_USE_ASSERT_NULL=y
CONFIG_LV_USE_FLEX=y
CONFIG_LV_USE_GRID=y
CONFIG_LV_USE_LABEL=y
CONFIG_LV_USE_THEME_DEFAULT=y

# Setup flash

CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y

# SPIRAM

CONFIG_SPIRAM=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

# Required for WiFI

CONFIG_DIAG_USE_EXTERNAL_LOG_WRAP=y

# MQTT

CONFIG_MQTT_TOPIC_PREFIX="pieter"
CONFIG_MQTT_DEVICE_MANUFACTURER="Pieter"
CONFIG_MQTT_DEVICE_MODEL="Paper Clock"
CONFIG_MQTT_DEVICE_MODEL_ID="Paper Clock v1"
